<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MENU</li>
  <!-- Optionally, you can add icons to the links -->
  {% if is_granted('ROLE_ADMIN') %}
    <li ><a href="{{ path('user_index') }}"><i class="glyphicon glyphicon-user"></i> <span>User</span></a></li>
  {% endif %}
  <li ><a href="{{ path('product_index') }}"><i class="glyphicon glyphicon-apple"></i> <span>Sản Phẩm</span></a></li>
  <li><a href="{{ path('bill_index') }}"><i class="glyphicon glyphicon-list-alt"></i> <span>Hóa Đơn</span></a></li>
  <li class="treeview">
    <a href="#"><i class="glyphicon glyphicon-signal"></i> <span>Doanh Thu</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Doanh thu tháng</a></li>
      <li><a href="{{ path('doanhthu_nam')}}">Doanh thu năm</a></li>
    </ul>
  </li>
</ul>